# Environment Profile Setup
ENVIRONMENT=DEVELOPMENT

# Pipeline Engineering Parameters
NUMBER_OF_TRANSACTIONS=1000
RANDOM_SEED=42

# Local Storage Target Absolute Directory Bindings
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
REPORTS_DIR=data/reports
